body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-container {
  height: 100%;
  width: 100%;
}

.map-marker {
  height: 32px !important;
  width: 32px !important;
  background-color: #4a4a4a;
  border-radius: 50%;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 18px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
